<div class="collapse d-print-none d-md-none" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="p-1">
        <span class="text-white">
          Cards count: {{numberOfPhotos}}
        </span>
      </li>
      <li class="p-1">
        <div class="form-check text-white">
          <input class="form-check-input" type="checkbox" value="" id="add-borders" [(ngModel)]="addBorders">
          <label class="form-check-label" for="add-borders">
            Print with frames
          </label>
        </div>
      </li>
      <li class="p-1">
        <button class="btn btn-success" role="button" (click)="print()">
          <i class="bi bi-printer me-2"></i>Print
        </button>
      </li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark d-md-none d-print-none">
  <div class="container-fluid justify-content-start">
    <button class="navbar-toggler collapsed me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="text-white">Memory Cards Generator</span>
  </div>
</nav>
<main class="d-print-none d-flex flex-nowrap flex-row-reverse">
  <div class="d-none d-sm-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Memory Cards Generator</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="p-1">
        <span class="text-white">
          Cards count: {{numberOfPhotos}}
        </span>
      </li>
      <li class="p-1">
        <div class="form-check text-white">
          <input class="form-check-input" type="checkbox" value="" id="add-borders" [(ngModel)]="addBorders">
          <label class="form-check-label" for="add-borders">
            Print with frames
          </label>
        </div>
      </li>
      <li class="p-1">
        <button class="btn btn-success" role="button" (click)="print()">
          <i class="bi bi-printer me-2"></i>Print
        </button>
      </li>
    </ul>
    <hr>
    <div class="text-end">
    <a href="https://github.com/aartek"><i class="bi bi-github"></i></a>
  </div>
  </div>
  <div class="flex-fill p-3 scrollarea">
    <router-outlet></router-outlet>
  </div>
</main>
<div class="d-print-block">
  <app-printview [printBorders]="addBorders"></app-printview>
</div>